
.newsform--container {

    background-color: green;

    height: 60vh;

    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsform {
    background-color: lightseagreen;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.newsform--input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.newsform--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;   
    cursor: pointer; 
}

.newsform--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.newsform--marketing > input {
    margin-right: 10px;
}