* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 6px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 120%;
    margin-right: 6px;
    border-radius: 50px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}


.expenses--input--form {
    display: grid;
    flex-direction: column;
    
    background-color: lightseagreen;
    gap: 10px;
    border-radius: 25px;
    
}

.expenses--input--elements {
    font-family: "Karla", sans-serif;
    border-radius: 25px;
    border: 2px solid #A626D3;
    text-indent: 5px;
    margin-left: 15px;
}

.add--expense--button {
    
    font-family: "Karla", sans-serif;
    border-radius: 25px;
    margin-left: 55px;
    margin-bottom: 15px;

    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);

    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    max-width: fit-content;

}

.expenses--list {
    position: relative;
    text-align: center;
    color: rgb(212, 126, 212);
    background-color: #A626D3;
    border: 2px solid yellowgreen;
    border-radius: 25px;

    font-family: sans-serif;
    font-size: .75rem;

}

.expense--row {
    background-color: black;
    margin: 15px 0;
    padding: 0 5px;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    
}

.expense--delete--button {
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);   
}