* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 10px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 25px;
    border: 2px solid #A626D3;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 25px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.image--container {
    position: relative;
    text-align: center;
    color: white;
}

.meme--image {
    position: relative;
    top: -50%;
    max-width: 100%;
    max-height: 100%;
}

.top--text {
    color: purple;
    font-size: 5rem;

    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-10%, -50%);
}

.bottom--text {
    color: green;
    font-size: 5rem;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.thing--list {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.thing--item {
    min-width: 75px;
    border-radius: 25px;
    background-color: rgb(92, 5, 5);
}