* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.nav--logo {
  max-width: 100px; /* Scrimba he said this is for Safari browsers */
}

section {
  padding: 10px;
  object-fit: contain;
  background-color: white;
}


.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
  padding: 5px;
  /* I thought this made the left side what they wanted, 
     but it trimmed the right side of the image.
  object-position: 4vh 1vh; */
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

/* his

.hero {   SAME
  display: flex;
  flex-direction: column;
}

.hero--photo { NOW Same
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

*/


.card {
  background-color: white;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
}

.card--image {
  width: 100%;
  max-height: 240px;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;

  background-color: white;
  color: rgb(7, 82, 82);
}

.experience--grid {
  display: flex;
  padding: 0px;
  
}