* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.navbar {
  height: 75px;

  background-color: gray;
  color: white;
  
  border-radius: 9px;

  align-items: top;

  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.navbar--info {
  grid-column-start: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;

  background-color: purple;
  color: white;
  border-radius: 19px;
}

.nav--logo {
  max-width: 50px; /* Scrimba he said this is for Safari browsers */
  border-radius: 25px;
}

section {
  padding: 10px;
  object-fit: contain;
  background-color: white;
}

.main--diary {
  border-color: red;
  
  border-width: 5px;
  gap: 20px;
  overflow-x: auto;

  margin: 3px;
  background-color: purple;
  border-radius: 19px;
  color: rgb(7, 82, 82);
}

.experience--grid {
  display: flex;
  padding: 0px;
  
}

.diary--entry {
  background-color: white;
  display: flex;
  flex-direction:row;
  position: relative;
  border: 3px;
  border-color: grey;
}

.diary--image {
  max-width: 200px;

  object-fit: cover;

  border-radius: 19px;

  align-items: stretch;
  padding: 5px;

}

.flag--image {
  
  background-color: white;
  
  max-width: 20px;
  padding: 1px;
}

.diary--information {
  
  display: flex;
  flex-direction:column;
}

.diary--topDetails {

  display: flex;
  flex-direction:row;

  justify-content:flex-start;
  align-items: center;

  font-size: 15px;
  position: relative;
}

.top--items {
  padding: 5px;
}

.diary--location {
  font-size: 18px;
}

.diary--bottomDetails {

  display: flex;
  flex-direction:column;
  justify-content:flex-start;
}

.diary--title {
  
  font-size: 25px;
  font-weight:bold;
}

.diary--dates, .diary--description {
    font-size: 15px;
}
