* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.navbar {
  height: 70px;
  display: flex;

  background-color: red;
  color: white;
  
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px; /* Scrimba he said this is for Safari browsers */
  background-color: red;
}

section {
  padding: 10px;
  object-fit: contain;
  background-color: white;
}


.diary--entry {
  background-color: yellow;
  display: flex;
  flex-direction:row;
  position: relative;
}

.diary--image {
  max-width: 400px;
  align-self: center;
  padding: 5px;
  /* I thought this made the left side what they wanted, 
     but it trimmed the right side of the image.
  object-position: 4vh 1vh; */
}

.flag--image {
  align-self:flex-start;
  
  background-color: goldenrod;
  
  /* position: absolute;
  top: 506px;
  left: 6px;*/
  max-width: 10px;
  padding: 1px;
}

.diary--information {
  background-color: gold;
  display: flex;
  flex-direction:column;
  position: relative;
}

.diary--topDetails {
  background-color: orange;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: space-around;

  position: relative;

}

.diary--bottomDetails {
  background-color: green;
  display: flex;
  flex-direction:column;
  position: relative;
}

.card {
  background-color: inherit;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card--image {
  width: 100%;
  max-height: 240px;
  border-radius: 9px;
}

.card--stats {
  /* display: flex; */
  gap: 20px;
  overflow-x: auto;

  background-color: white;
  color: rgb(7, 82, 82);
}

.experience--grid {
  display: flex;
  padding: 0px;
  
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: red;
  padding: 5px 7px;
  border-radius: 9px;
  font-weight: bold;
}